{% extends 'nav_bar.html' %}

{% block content %}

<div class="container shadow p-4">
    <div class="row">
        <div class="col-12 text-center py-2">
            <h3>Shorten A Url</h3>
        </div>
        <div class="col-10 col-sm-10 col-md-6 mx-auto">

            <form action=" {% url 'generate' %}" method="POST">
                {% csrf_token %}
                <div class="form-group my-5">
                    <input type="url" name="original" class="form-control" placeholder="Original Url">
                </div>

                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary px-4" value="Generate">
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container my-4">
    <div class="row">
        <div class="col-12 text-center">
            <h4>Your Url's</h4>
        </div>
    </div>
    <div class="row justify-content-between">

        {% for u in urls%}

      <div class="col-10 col-sm-10 col-md-6 mb-2 mx-auto">

            <div style="overflow: hidden;" class="customcontainer p-2">

                <p style="text-overflow: ellipsis;">Original : <a href="{{ u.original_url }}" target="_blank"
                        class="card-link">{{ u.original_url }}</a>
                </p>

                <p>Shorten : <a href="http://localhost:8000/{{ u.short_url }}" target="_blank"
                        class="card-link">http://localhost:8000/{{ u.short_url }}</a></p>
                <div class="row justify-content-between">
                    <div class="col-6 col-sm-6 ">
                        <h3>Visits : {{ u.visits }} </h3>
                    </div>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>
</div>
</div>


<style>
    .customcontainer {
        min-width: 100%;
        border: 2px solid #1d1d1d;
        border-radius: 5px;
        max-width: 100%;
        height: 100%;
    }

</style>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>

</body>

</html>

{% endblock %}


